{% extends 'base.html' %}

{% block content %}
<form method="post">
    <div class="card">
        <div class="card-header">
            Построить вариант
        </div>
        <div class="card-body">
            <p>Введите номер варианта, если хотите найти уже готовый, или оставьте поле пустым для генерации нового:</p>
            {% csrf_token %}
            {{ select_form }}
            <br>
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-primary btn-block">Построить вариант</button>
        </div>
    </div>
</form>
{% endblock %}